#custom-waytail {
    min-width: 16px;
    padding: 0 8px;
    background-image: url("/home/USER/.config/waybar/waytail/tailscale-connected.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

#custom-waytail.exit-node {
    background-image: url("/home/USER/.config/waybar/waytail/tailscale-exit.svg");
}

#custom-waytail.disconnected {
    background-image: url("/home/USER/.config/waybar/waytail/tailscale-disconnected.svg");
}

#custom-waytail.error {
    background-image: url("/home/USER/.config/waybar/waytail/tailscale-error.svg");
}
